@page "/merchant-edit/{MerchantId:int}"
@inherits EditMerchantBase

<DxPopup HeaderText="Tạo món" @bind-Visible="@IsShowPopupAddProduct"
         ShowCloseButton="false">
   <EditProductForm ProductModel="SelectedProduct"
                   OnSaveProduct="HandleAddProduct"
                   OnCancel="HandleCancelAddProduct" />
</DxPopup>

@if (MerchantModel != null)
{
   <EditForm EditContext="FormContext"
             OnValidSubmit="async () => await HandleValidSubmit()">
      <FluentValidator Validator="new EditMerchantValidator()" />
      <ValidationSummary />
      <div class="row">
         <div class="col-4 edit-merchant-menu">
            <h3>Thực đơn</h3>
            <ul class="list-group">
               @if (MerchantModel.MenuItemList != null)
               {
                  @foreach (var menuItem in MerchantModel.MenuItemList)
                  {
                     <li class="list-group-item p-0 pb-2" style="display:flex;background-color:#f2f2f2;border:none">
                        <DxTextBox Text="@menuItem.Name"
                                   NullText="Nhập tên nhóm món"
                                   TextChanged="async (newNm) => await HandleEditMenuItemName(newNm, menuItem)"
                                   TextExpression="() => menuItem.Name"
                                   @onclick="async () => await HandleClickMenuItem(menuItem)" />
                        <DxButton CssClass="menu-create-group__item-button"
                                  RenderStyle="@ButtonRenderStyle.Danger"
                                  SubmitFormOnClick="false"
                                  Text="Xóa"
                                  @onclick="async () => await HandleRemoveMenuItem(menuItem.Id)" />
                     </li>
                  }
               }
            </ul>
            <DxButton Text="Thêm"
                      SubmitFormOnClick="false"
                      RenderStyle="ButtonRenderStyle.Primary"
                      @onclick="HandleAddMenuItem" />
         </div>
         <div class="col-8 edit-merchant-product">
            <div class="add-product__form-title">
               <h3>Danh sách món cho thực đơn @SelectedMenuItem.Name</h3>
               <DxButton CssClass="add-product__form-title-button"
                         Visible="@(SelectedMenuItem.ProductList?.Count != 0)"
                         Text="Thêm món"
                         @onclick="HandleShowProductForm"
                         SubmitFormOnClick="false"
                         RenderStyle="@ButtonRenderStyle.Primary" />
            </div>
            @if (SelectedMenuItem?.ProductList == null || SelectedMenuItem.ProductList.Count == 0)
            {
               <div class="register-shop__no-result">
                  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAYFBMVEUAAADY4OrZ4OvY4OvX3+nX3+vY4Ora4e3q8f/b4+zY4OrY4OnY4OrY4OrY4OrY4OrY4OrZ4erZ3+rY4OvY4OvZ4enZ4uzh6/X////X4OrZ4erX4OnY4Oza4urd4+rX3+nJgAo3AAAAH3RSTlMAy3KWgED8LAca79646OPGrZF5bmRdNAwCzJ+NQj4l4Yd0RwAAARVJREFUaN7t1d1qg0AQhuFpm6yrbqIx/uX3u/+7LFKwmkhxxggt/Z6zcQ9ecFhWiIiIiIjoV2iCQ8+FRtZwxMhR1rDByKb7xsiE6NJOR9pL9KpEDlTTkQrIX5FpCwcg9VMRnwJwRSsLxRnQKaciJdDJYlkk2uPL3j9HfH8YyQJ18n33niKD25nUYhbv0Ns1j5FmeGr+Y/6EgeIxUmDg5MXmgKFkPOKQjEfj0h3GlR9HZ1t+BpVMDK5QuopeDqVc1GIHJReLVgm1UrTOUDuLVgq1VJQ8DLx27zDQbj6CQSQ6NxjcRGcLgy0jjMxx/zC4C62lDm9Goda/JWu+KVjgH0YczJzMFWAWZC5fvRtVXoiIiIiI/oZPgsbG12D59+kAAAAASUVORK5CYII=" height="100">
                  <p>Vui lòng thêm món vào nhóm món bạn đã tạo</p>
                  <DxButton Text="Tạo món"
                            @onclick="HandleShowProductForm"
                            SizeMode="@SizeMode.Medium"
                            RenderStyleMode="@ButtonRenderStyleMode.Outline"
                            RenderStyle="@ButtonRenderStyle.Primary" />
               </div>
            }
            else
            {
               <div class="menu-add-item__body">
                  <table class="table-container table-bordered">
                     <thead class="table-container__head thead-dark">
                        <tr>
                           <th class="" style="width: 100px;">Tên món</th>
                           <th class="" style="width: 100px;">Giá</th>
                           <th class="table-container__action-td" style="width: 200px;">Món ăn kèm</th>
                           <th class="table-container__action-td" style="width: 30px;"></th>
                           <th class="table-container__action-td" style="width: 30px;"></th>
                        </tr>
                     </thead>
                     <tbody class="table-container__body">
                        @foreach (var product in SelectedMenuItem.ProductList)
                        {
                           <tr class="table-container__row">
                              <td class="" style="width: 100px;">@product.Name</td>
                              <td class="" style="width: 100px;">@product.UnitPrice.ToString("N0") đ</td>
                              <td class="table-container__action-td" style="width: 200px;"><span>@product.ToppingListString</span></td>
                              <td class="table-container__action-td" style="width: 30px;">
                                 <a href="javascript:void(0)"
                                    @onclick="async () => await HandleEditProduct(product)">Sửa</a>
                              </td>
                              <td class="table-container__action-td" style="width: 30px; color: red">
                                 <a href="javascript:void(0)"
                                    @onclick="async () => await HandleDeleteProduct(product.Id)">Xoá</a>
                              </td>
                           </tr>
                        }
                     </tbody>
                  </table>
               </div>
            }
         </div>
      </div>
      <div class="row justify-content-center">
         <DxButton Text="Lưu"
                   RenderStyle="ButtonRenderStyle.Success"
                   SizeMode="SizeMode.Small"
                   Enabled="IsEnableSaveButton()"
                   @onclick="async () => await HandleValidSubmit()"/>
      </div>
   </EditForm>
}

