@page "/my-merchant"
@inherits MyMerchantsBase

@if (ResponseModel != null)
{
   <DxPopup HeaderText="Thông tin" @bind-Visible="@ResponseModel.IsShowPopup"
            HeaderCssClass="bg-dark text-white p-2"
            FooterCssClass="p-2 modal-footer">
      <Content>
         <p>@ResponseModel.Message</p>
      </Content>
      <FooterTemplate>
         <button class="btn btn-sm btn-dark" @onclick="() => ResponseModel.IsShowPopup = false">
            Đóng
         </button>
      </FooterTemplate>
   </DxPopup>
}

@if (MyMerchantList is null)
{
   <p>Đang tải...</p>
}
else
{
   <div class="list-group">
      @foreach (var merchant in MyMerchantList.OrderBy(e => e.Status).ThenByDescending(e => e.CreateTime))
      {
         <div class="list-group-item list-group-item-action d-flex">
            <img src="@merchant.Avatar" class="my-merchant-img" />
            <div class="w-100">
               <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 my-merchant-name">@merchant.Name</h5>
                  @if (merchant.Status != MerchantStatus.NotApproved)
                  {
                     <button class="btn btn-sm btn-outline-primary mr-1"
                             @onclick="() => HandleMoveToOrderPage(merchant.Id)">
                        Quản lý đơn hàng
                     </button>
                     @if (merchant.Status == MerchantStatus.Approved)
                     {
                        <button class="btn btn-sm btn-outline-danger mr-1"
                                @onclick="async () => await HandleCloseMerchant(merchant)">
                           Đóng quán
                        </button>
                     }
                     else if (merchant.Status == MerchantStatus.Closed)
                     {
                        <button class="btn btn-sm btn-outline-primary mr-1"
                                @onclick="async () => await HandleOpenMerchant(merchant)">
                           Mở lại quán
                        </button>
                     }
                  }
               </div>
               <p class="mb-1">@merchant.AddressString</p>
               <small class="@merchant.Status.GetCssClass()">
                  @merchant.Status.GetStringValue()
               </small>
            </div>
         </div>
      }
   </div>
}
