@page "/order-list"
@inherits OrderListBase

@if (SelectedOrder != null)
{
   <DxPopup HeaderText="Xác nhận" @bind-Visible="@IsShowPopupConfirm"
            HeaderCssClass="bg-dark text-white p-2"
            FooterCssClass="p-2 modal-footer">
      <Content>
         <p>Bạn chắc chắn muốn giao đơn hàng này?</p>
      </Content>
      <FooterTemplate>
         <button class="btn btn-sm btn-success"
                 @onclick="async () => await HandleConfirm()">
            Xác nhân
         </button>
         <button class="btn btn-sm btn-dark"
                 @onclick="HandleClose">
            Đóng
         </button>
      </FooterTemplate>
   </DxPopup>
}
@if (ResponseModel != null)
{
   <DxPopup HeaderText="@(ResponseModel.IsSuccess ? "Thành công" : "Thất bại")" @bind-Visible="@IsShowPopupResult"
            HeaderCssClass="bg-dark text-white p-2"
            FooterCssClass="p-2 modal-footer">
      <Content>
         <p>@(ResponseModel.Message)</p>
      </Content>
      <FooterTemplate>
         <button class="btn btn-sm btn-success"
                 @onclick="@(() => IsShowPopupResult = false)">
            Xác nhận
         </button>
      </FooterTemplate>
   </DxPopup>
}

@if (OrderList is null)
{
   <p>Đang tải...</p>
}
else if (OrderList.Count == 0)
{
   <p>Không có đơn hàng</p>
}
else
{
   <div class="list-group">
      @foreach (var order in OrderList)
      {
         <a href="javascript:void(0)"
            @onclick="async () => await HandleShowChooseOrder(order)"
            class="mb-2 list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
               <h5 class="mb-1">@order.Merchant.Name - @order.Merchant.PhoneNumber</h5>
               <small>@TimeRange.GetDurationStringToNow(order.OrderDateTime)</small>
            </div>
            <p class="mb-1">
               Mở cửa: 
               @(order.Merchant.OpenTime.TimeString) -
               @(order.Merchant.CloseTime.TimeString)
            </p>
            <small>Địa chỉ quán: @(order.Merchant.AddressString)</small> <br />
            <small>Địa chỉ khách hàng: @(order.ShippingAddress.AddressString)</small> <br />
            <small>Thời gian giao: @(order.DeliveryDateTime.ToString("HH:mm dd/MM/yyyy"))</small>
         </a>
      }
   </div>
}

