@inherits OrderedItemListBase

<div class="ordered-container">
	<div class="ordered-header">
		<h5>@(Order.OrderItemList?.Count ?? 0) món</h5>
	</div>
	<div class="ordered-list">
		@foreach (var orderItem in Order.OrderItemList)
		{
			<div class="ordered_item">
				<div class="row">
					<div class="col-auto pr-1">
						<button class="btn-change-quantity-order fas fa-plus-square"
									 @onclick="() => HandleIncreaseQuantity(orderItem.Id)" />
						<div class="quantity-label-order">@orderItem.Quantity</div>
						<button class="btn-change-quantity-order fas fa-minus-square"
									 @onclick="() => HandleDecreaseQuantity(orderItem.Id)" />
					</div>
					<div class="col pl-0">
						@if (orderItem.SelectedToppingList?.Count > 0)
						{
							<strong>@orderItem.OrderProduct.Name</strong>@orderItem.ToppingListString.Insert(0, "- ")
						}
						else
						{
							<strong>@orderItem.OrderProduct.Name</strong>
						}
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input class="input-note-order"
									  placeholder="Thêm ghi chú"
									  value="@orderItem.Note"
									  @onchange="async (newValue) => await HandleNoteChanged(orderItem.Id, newValue)"/>
					</div>
					<div class="col-auto pl-0">
						<strong>@orderItem.OrderUnitItemPrice.ToString("N0")</strong>
					</div>
				</div>
			</div>
		}
	</div>
	<div class="ordered-summary">
		<div class="ordered-total">
			<div class="row">
				<div class="col-sm">
					Tổng cộng
				</div>
				<div class="col-sm-auto">
					<span class="text-primary font-weight-bold">@TotalPrice.ToString("N0")</span>
				</div>
			</div>
		</div>
		<div class="ordered-confirm-order">
			<button type="button"
					  class="btn btn-danger btn-confirm-order btn-sm"
					  @onclick="async () => await HandleConfirmOrder()">
				<i class="fas fa-check-circle"></i>
				Đặt
			</button>
		</div>
	</div>
</div>