@inherits OrderListCpnBase

<table class="table">
	<thead>
		<tr>
			<th scope="col">STT</th>
			<th scope="col">Thời gian</th>
			<th scope="col">Địa chỉ</th>
			<th scope="col">Tổng tiền</th>
			<th scope="col">Trạng thái</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var orderItem in OrderList)
		{
			<tr>
				<th scope="row">1</th>
				<td>
					Thời gian đặt: @orderItem.OrderDateTime.ToString("HH:mm dd/MM/yyyy") <br/>
					Thời gian giao hàng: @orderItem.DeliveryDateTime.ToString("HH:mm dd/MM/yyyy")
				</td>
				<td>
					@(orderItem.OrderItemList[0].OrderProduct.Merchant.Name) <br/>
					@(orderItem.OrderItemList[0].OrderProduct.Merchant.AddressString)
				</td>
				<td>
					Thành tiền: @(orderItem.TotalAmount.ToString("N0")) <br/>
					Tổng cộng @(orderItem.OrderItemList.Count) món
				</td>
				<td>@(orderItem.Status.GetStringValue())</td>
			</tr>
		}
	</tbody>
</table>
