@inherits OrderListCpnBase

<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Time</th>
			<th scope="col">Place</th>
			<th scope="col">Total amount</th>
			<th scope="col">Status</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var orderItem in OrderList)
		{
			<tr>
				<th scope="row">1</th>
				<td>
					@orderItem.OrderDateTime.ToString("dd/MM/yyyy HH:mm") <br/>
					@orderItem.DeliveryDateTime.ToString("dd/MM/yyyy HH:mm")
				</td>
				<td>
					@(orderItem.OrderItemList[0].OrderProduct.Merchant.Name) <br/>
					@(orderItem.OrderItemList[0].OrderProduct.Merchant.AddressString)
				</td>
				<td>
					@(orderItem.TotalAmount) <br/>
					@(orderItem.OrderItemList.Count)
				</td>
				<td>@(orderItem.Status.GetStringValue())</td>
			</tr>
		}
	</tbody>
</table>
