@inherits PopupConfirmOrderBase

@if (SelectedPopup == DisplayPopup.OrderConfirm)
{
   <DxPopup HeaderText="Xác nhận thông tin"
            ShowCloseButton="true"
            CloseButtonClick="async () => await HandleCloseConfirm()"
            CssClass="confirm-order-popup"
            HeaderCssClass="bg-dark text-white p-2">
      <Content>
         <div class="row">
            <div class="col-5">
               <div class="row mr-0 ml-0">
                  @if (Order.ShippingAddress != null)
                  {
                     <span class="d-block font-weight-bold font-small">
                        <span class="font-primary">Người nhận:</span> @Order.ShippingAddress.FullName - @Order.ShippingAddress.PhoneNumber
                     </span>
                     <span class="font-small">
                        <span class="font-primary font-weight-bold">Địa chỉ:</span> @Order.ShippingAddress.AddressString
                     </span>
                  }
               </div>
               <div class="row ml-0 mr-0">
                  <span class="font-small">Thời gian giao hàng: @Order.DeliveryDateTime.ToString("HH:mm dd/MM/yyyy")</span>
                  @if(new CustomTime(Order.DeliveryDateTime).IsInRange(OpenTime, CloseTime) == false)
                  {
                     <span class="font-small text-danger font-italic">
                        Thời gian giao hàng phải nằm trong giờ hoạt động của quán
                        @OpenTime.TimeString -> @CloseTime.TimeString
                     </span>
                  }
               </div>
               <div class="row mr-0 ml-0 mt-2">
                  @if(ShippingAddressList?.Count == 0)
                  {
                     <a class="text-decoration-none" href="javascript:void(0)"
                        @onclick="HandleChangeShippingAddress">Vui lòng thêm thông tin giao hàng</a>
                  }
                  else
                  {
                     <a class="text-decoration-none" href="javascript:void(0)"
                        @onclick="HandleChangeShippingAddress">Thay đổi thông tin đặt hàng</a>
                  }
               </div>
            </div>
            <div class="col-7">
               <div class="row">
                  <ul class="list-group list-group-flush col pl-3">
                     @foreach (var orderItem in Order.OrderItemList)
                     {
                        <li class="list-group-item confirm-order-item">
                           <span class="badge badge-primary badge-pill">@orderItem.Quantity</span>
                           @orderItem.OrderProductToppingName
                           <span class="float-right">@orderItem.OrderItemPrice.ToString("N0") đ</span>
                        </li>
                     }
                  </ul>
               </div>
               <div class="row mt-3 font-weight-bold">
                  <div class="col">Tổng cộng @GetTotalProduct() món</div>
                  <div class="col-auto">@GetTotalPrice().ToString("N0") đ</div>
               </div>
               @* <div class="row">
                  <div class="col">Total</div>
                  <div class="col-auto">@GetFinalPrice().ToString("N0") đ</div>
               </div> *@
            </div>
         </div>
         <div id="paypal-button-container"></div>
      </Content>
      <FooterTemplate>
         <DxButton CssClass="btn-submit-confirm-order"
                   RenderStyle="ButtonRenderStyle.Primary"
                   Enabled="(IsEnableSubmit())"
                 @onclick="async () => await HandleSubmitConfirm()">
            Xác nhận đặt hàng
         </DxButton>
      </FooterTemplate>
   </DxPopup>
}
else if (SelectedPopup == DisplayPopup.ChangeAddress)
{
   <PopupUpdateAddress Order="@Order"
                       ShippingAddressList="@ShippingAddressList"
                       OnClose="HandleCloseChangeAddress"
                       OnConfirm="HandleConfirmChangeAddress" />
}
